<!DOCTYPE html>
<html lang="en">
  <!-- Beautiful Jekyll | Copyright Dean Attali 2020 -->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Theme Components | Discourse Themes</title>

  <meta name="description" content="All Discourse Themes and Theme Components here">

  

  

  <link rel="alternate" type="application/rss+xml" title="Discourse Themes - All Discourse Themes and Theme Components here" href="https://discoursethemes.dev/feed.xml">

  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177420155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-177420155-1');
</script>


  

  


  
    
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">


    
  

  
    
      <link rel="stylesheet" href="/assets/bootstrap-4.4.1/css/bootstrap.min.css">
    
      <link rel="stylesheet" href="/assets/css/bootstrap-social.css">
    
      <link rel="stylesheet" href="/assets/css/beautifuljekyll.css">
    
      <link rel="stylesheet" href="/assets/css/custom.css">
    
  

  

  
  
  

  

  
  <meta property="og:site_name" content="Discourse Themes">
  <meta property="og:title" content="Theme Components">
  <meta property="og:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta property="og:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  
  <meta property="og:type" content="website">
  

  
  <meta property="og:url" content="https://discoursethemes.dev/theme-components/page6/">
  <link rel="canonical" href="https://discoursethemes.dev/theme-components/page6/">
  


  
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">

  <meta property="twitter:title" content="Theme Components">
  <meta property="twitter:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta name="twitter:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  

  

  

</head>


  <body>

    


    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom "><a class="navbar-brand" href="https://discoursethemes.dev/">Discourse Themes</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/themes/">Themes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/theme-components/">Components</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/color-palettes/">Palettes</a>
          </li>
</ul>
  </div>

  

</nav>


    <!-- TODO this file has become a mess, refactor it -->







<header class="header-section ">

<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-lg-12 col-xl-10 offset-xl-1">
        <div class="page-heading text-center">
          <h1>Theme Components</h1>
      

      
        </div>
      </div>
    </div>
  </div>
</div>
</header>





<div class="container-md" role="main">



  <!-- Pagination is active -->
  
  

  <p>139 free Discourse theme components you may be interested in.</p>

  <div class="row gallery">
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/alternative-logos-per-theme/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/88502/thumbnail.png" alt="Alternative logos per theme - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/88502/thumbnail.png" alt="Alternative logos per theme">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/alternative-logos-per-theme/">Alternative logos per theme</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/add-abbr-tags-to-words-in-posts/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Add &lt;abbr&gt; tags to words in posts
&lt;/abbr&gt;</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/add-abbr-tags-to-words-in-posts/">Add &lt;abbr&gt; tags to words in posts
&lt;/abbr&gt;</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-button-styles/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/88154/thumbnail.png" alt="Discourse Button Styles - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/88154/thumbnail.png" alt="Discourse Button Styles">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-button-styles/">Discourse Button Styles</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/change-the-like-icon/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Change the Like icon</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/change-the-like-icon/">Change the Like icon</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/custom-hamburger-menu-links/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Custom hamburger menu links</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/custom-hamburger-menu-links/">Custom hamburger menu links</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/spinner-on-initial-load/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Spinner on initial load</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/spinner-on-initial-load/">Spinner on initial load</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/custom-top-navigation-links/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/87225/thumbnail.PNG" alt="Custom top navigation links - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/87225/thumbnail.PNG" alt="Custom top navigation links">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/custom-top-navigation-links/">Custom top navigation links</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/big-header-little-header/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Big Header - Little Header</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/big-header-little-header/">Big Header - Little Header</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/removing-similar-username-name-suppression-on-posts/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/86265/thumbnail.jpg" alt="Removing similar username / name suppression on posts - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/86265/thumbnail.jpg" alt="Removing similar username / name suppression on posts">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/removing-similar-username-name-suppression-on-posts/">Removing similar username / name suppression on posts</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/custom-header-links-icons/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/86307/thumbnail.PNG" alt="Custom header links (icons) - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/86307/thumbnail.PNG" alt="Custom header links (icons)">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/custom-header-links-icons/">Custom header links (icons)</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-category-banners/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/86241/thumbnail.png" alt="Discourse Category Banners - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/86241/thumbnail.png" alt="Discourse Category Banners">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-category-banners/">Discourse Category Banners</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/new-topic-button-on-all-pages/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/84551/thumbnail.PNG" alt="(+ New topic) button on all pages - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/84551/thumbnail.PNG" alt="(+ New topic) button on all pages">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/new-topic-button-on-all-pages/">(+ New topic) button on all pages</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/topic-stopwatch/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/83939/thumbnail.png" alt="Topic Stopwatch - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/83939/thumbnail.png" alt="Topic Stopwatch">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/topic-stopwatch/">Topic Stopwatch</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/warn-admins-tl4-when-replying-to-closed-topics/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/83912/thumbnail.png" alt="Warn admins/tl4 when replying to closed topics - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/83912/thumbnail.png" alt="Warn admins/tl4 when replying to closed topics">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/warn-admins-tl4-when-replying-to-closed-topics/">Warn admins/tl4 when replying to closed topics</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/duckduckgo-search-suggestions/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">DuckDuckGo Search Suggestions</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/duckduckgo-search-suggestions/">DuckDuckGo Search Suggestions</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/tiger-stripes-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/83632/thumbnail.jpg" alt="Tiger Stripes component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/83632/thumbnail.jpg" alt="Tiger Stripes component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/tiger-stripes-component/">Tiger Stripes component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/trust-level-avatar-flair/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/82656/thumbnail.png" alt="Trust-Level Avatar Flair - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/82656/thumbnail.png" alt="Trust-Level Avatar Flair">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/trust-level-avatar-flair/">Trust-Level Avatar Flair</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/banner-themes-and-instructions-for-customizing-them/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/82368/thumbnail.png" alt="Banner themes (and instructions for customizing them) - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/82368/thumbnail.png" alt="Banner themes (and instructions for customizing them)">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/banner-themes-and-instructions-for-customizing-them/">Banner themes (and instructions for customizing them)</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/linkify-words-in-post/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/82193/thumbnail.png" alt="Linkify words in post - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/82193/thumbnail.png" alt="Linkify words in post">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/linkify-words-in-post/">Linkify words in post</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/dark-admin-editor/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/82113/thumbnail.PNG" alt="Dark Admin Editor - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/82113/thumbnail.PNG" alt="Dark Admin Editor">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/dark-admin-editor/">Dark Admin Editor</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/tiles-image-gallery/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/81950/thumbnail.jpg" alt="Tiles Image Gallery - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/81950/thumbnail.jpg" alt="Tiles Image Gallery">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/tiles-image-gallery/">Tiles Image Gallery</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
  </div>
  
    <!-- Pager -->
    <div class="text-center">
      <ul class="pagination">
      
      

          
          <li class="page-item"><a class="page-link" href="./../page5/">Prev</a></li>
          

      

      
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../">1</a></li>
      

      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page2/">2</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page3/">3</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page4/">4</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page5/">5</a></li>
          
      

          
          <li class="page-item d-none d-md-block active">
<span class="page-link">6</span><span class="sr-only">(current)</span>
</li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page7/">7</a></li>
          
      

      
          <li class="page-item"><a class="page-link" href="./../page7/">Next</a></li>
      
      </ul>
    </div>



</div>

    <footer>
  <div class="container-md beautiful-jekyll-footer">
    <div class="row">
      <div class="col-md-4">
      <ul class="list-inline text-center footer-links">
<li class="list-inline-item">
    <a href="/feed.xml" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
<li class="list-inline-item">
    <a href="https://github.com/DiscourseForum/DiscourseThemes" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
</ul>

      
      <p class="copyright text-muted">
      
      2020

      
         • 
        <a href="https://discoursethemes.dev/">DiscourseThemes.dev</a>
      

      
      </p>
      <!-- Please don't remove this, keep my open source work credited :) -->
      <p class="theme-by text-muted">
        Theme by
        <a href="https://beautifuljekyll.com">beautiful-jekyll</a>
      </p>
      </div>
      <div class="col-md-8">
        <div class="disclaimer">
          <h3 class="text-muted">Notice of Non-Affiliation and Disclaimer</h3>
          <p class="theme-by text-muted text-left">We are not affiliated, associated, authorized, endorsed by,
            or in any way officially connected with the Discourse.org, and Civilized Discourse Construction Kit, Inc
            or any of its subsidiaries or its affiliates.</p>
          <p class="theme-by text-muted text-left">The names Discourse, Discourse.org, Discourse logo as well as related names, marks, emblems and images are registered trademarks of their respective owners.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


    
  



  
    

    <script src="/assets/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
  
    

    <script src="/assets/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
  
    

    <script src="/assets/js/beautifuljekyll.js"></script>
  







  </body>
</html>
