<!DOCTYPE html>
<html lang="en">
  <!-- Beautiful Jekyll | Copyright Dean Attali 2020 -->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Theme Components | Discourse Themes</title>

  <meta name="description" content="All Discourse Themes and Theme Components here">

  

  

  <link rel="alternate" type="application/rss+xml" title="Discourse Themes - All Discourse Themes and Theme Components here" href="https://discoursethemes.dev/feed.xml">

  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177420155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-177420155-1');
</script>


  

  


  
    
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">


    
  

  
    
      <link rel="stylesheet" href="/assets/bootstrap-4.4.1/css/bootstrap.min.css">
    
      <link rel="stylesheet" href="/assets/css/bootstrap-social.css">
    
      <link rel="stylesheet" href="/assets/css/beautifuljekyll.css">
    
      <link rel="stylesheet" href="/assets/css/custom.css">
    
  

  

  
  
  

  

  
  <meta property="og:site_name" content="Discourse Themes">
  <meta property="og:title" content="Theme Components">
  <meta property="og:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta property="og:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  
  <meta property="og:type" content="website">
  

  
  <meta property="og:url" content="https://discoursethemes.dev/theme-components/page2/">
  <link rel="canonical" href="https://discoursethemes.dev/theme-components/page2/">
  


  
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">

  <meta property="twitter:title" content="Theme Components">
  <meta property="twitter:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta name="twitter:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  

  

  

</head>


  <body>

    


    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom "><a class="navbar-brand" href="https://discoursethemes.dev/">Discourse Themes</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/themes/">Themes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/theme-components/">Components</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/color-palettes/">Palettes</a>
          </li>
</ul>
  </div>

  

</nav>


    <!-- TODO this file has become a mess, refactor it -->







<header class="header-section ">

<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-lg-12 col-xl-10 offset-xl-1">
        <div class="page-heading text-center">
          <h1>Theme Components</h1>
      

      
        </div>
      </div>
    </div>
  </div>
</div>
</header>





<div class="container-md" role="main">



  <!-- Pagination is active -->
  
  

  <p>139 free Discourse theme components you may be interested in.</p>

  <div class="row gallery">
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/insert-video-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/147651/thumbnail.png" alt="Insert Video component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/147651/thumbnail.png" alt="Insert Video component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/insert-video-component/">Insert Video component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/deprecated-copy-codeblocks-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/147441/thumbnail.png" alt="[Deprecated] Copy Codeblocks Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/147441/thumbnail.png" alt="[Deprecated] Copy Codeblocks Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/deprecated-copy-codeblocks-theme-component/">[Deprecated] Copy Codeblocks Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/youtube-timestamps-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">YouTube Timestamps Component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/youtube-timestamps-component/">YouTube Timestamps Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/bundle-esm-commonjs-javascript-into-a-theme-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Bundle ESM &amp;amp; CommonJS JavaScript into a Theme Component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/bundle-esm-commonjs-javascript-into-a-theme-component/">Bundle ESM &amp;amp; CommonJS JavaScript into a Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/whereby-video-meetings-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/146482/thumbnail.png" alt="Whereby video meetings component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/146482/thumbnail.png" alt="Whereby video meetings component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/whereby-video-meetings-component/">Whereby video meetings component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/codeblock-theme-picker/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/146396/thumbnail.png" alt="Codeblock Theme Picker - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/146396/thumbnail.png" alt="Codeblock Theme Picker">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/codeblock-theme-picker/">Codeblock Theme Picker</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/md-topic-list-mobile-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">MD Topic List Mobile component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/md-topic-list-mobile-component/">MD Topic List Mobile component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/jitsi-video-conference-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/146046/thumbnail.png" alt="Jitsi video conference component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/146046/thumbnail.png" alt="Jitsi video conference component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/jitsi-video-conference-component/">Jitsi video conference component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/custom-category-boxes-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/144865/thumbnail.png" alt="Custom Category Boxes Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/144865/thumbnail.png" alt="Custom Category Boxes Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/custom-category-boxes-component/">Custom Category Boxes Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/user-card-directory/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/144479/thumbnail.jpeg" alt="User Card Directory - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/144479/thumbnail.jpeg" alt="User Card Directory">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/user-card-directory/">User Card Directory</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/homepage-feature-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/144264/thumbnail.jpeg" alt="Homepage Feature Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/144264/thumbnail.jpeg" alt="Homepage Feature Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/homepage-feature-component/">Homepage Feature Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/post-views-counter/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/143807/thumbnail.png" alt="Post Views Counter - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/143807/thumbnail.png" alt="Post Views Counter">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/post-views-counter/">Post Views Counter</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/google-fonts-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/143720/thumbnail.png" alt="Google Fonts theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/143720/thumbnail.png" alt="Google Fonts theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/google-fonts-theme-component/">Google Fonts theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/quick-quote-theme-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Quick Quote Theme Component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/quick-quote-theme-component/">Quick Quote Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/hide-users-column/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/143506/thumbnail.png" alt="Hide Users column - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/143506/thumbnail.png" alt="Hide Users column">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/hide-users-column/">Hide Users column</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-icon-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Discourse-icon component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-icon-component/">Discourse-icon component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/hide-muted-categories-in-category-list/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Hide muted categories in category list</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/hide-muted-categories-in-category-list/">Hide muted categories in category list</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/take-a-break-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/140248/thumbnail.png" alt="Take a break! Theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/140248/thumbnail.png" alt="Take a break! Theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/take-a-break-theme-component/">Take a break! Theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/fireside-fm-player/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/137580/thumbnail.jpeg" alt="Fireside.fm Player - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/137580/thumbnail.jpeg" alt="Fireside.fm Player">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/fireside-fm-player/">Fireside.fm Player</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/winter-snow-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/135157/thumbnail.png" alt="Winter snow theme component :snowflake: - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/135157/thumbnail.png" alt="Winter snow theme component :snowflake:">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/winter-snow-theme-component/">Winter snow theme component <img class="emoji" title=":snowflake:" alt=":snowflake:" src="https://github.githubassets.com/images/icons/emoji/unicode/2744.png" height="20" width="20"></a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/segment-tracking-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/133335/thumbnail.png" alt="Segment Tracking Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/133335/thumbnail.png" alt="Segment Tracking Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/segment-tracking-theme-component/">Segment Tracking Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
  </div>
  
    <!-- Pager -->
    <div class="text-center">
      <ul class="pagination">
      
      

          
          <li class="page-item"><a class="page-link" href="./../">Prev</a></li>
          

      

      
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../">1</a></li>
      

      

          
          <li class="page-item d-none d-md-block active">
<span class="page-link">2</span><span class="sr-only">(current)</span>
</li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page3/">3</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page4/">4</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page5/">5</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page6/">6</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page7/">7</a></li>
          
      

      
          <li class="page-item"><a class="page-link" href="./../page3/">Next</a></li>
      
      </ul>
    </div>



</div>

    <footer>
  <div class="container-md beautiful-jekyll-footer">
    <div class="row">
      <div class="col-md-4">
      <ul class="list-inline text-center footer-links">
<li class="list-inline-item">
    <a href="/feed.xml" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
<li class="list-inline-item">
    <a href="https://github.com/DiscourseForum/DiscourseThemes" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
</ul>

      
      <p class="copyright text-muted">
      
      2020

      
         • 
        <a href="https://discoursethemes.dev/">DiscourseThemes.dev</a>
      

      
      </p>
      <!-- Please don't remove this, keep my open source work credited :) -->
      <p class="theme-by text-muted">
        Theme by
        <a href="https://beautifuljekyll.com">beautiful-jekyll</a>
      </p>
      </div>
      <div class="col-md-8">
        <div class="disclaimer">
          <h3 class="text-muted">Notice of Non-Affiliation and Disclaimer</h3>
          <p class="theme-by text-muted text-left">We are not affiliated, associated, authorized, endorsed by,
            or in any way officially connected with the Discourse.org, and Civilized Discourse Construction Kit, Inc
            or any of its subsidiaries or its affiliates.</p>
          <p class="theme-by text-muted text-left">The names Discourse, Discourse.org, Discourse logo as well as related names, marks, emblems and images are registered trademarks of their respective owners.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


    
  



  
    

    <script src="/assets/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
  
    

    <script src="/assets/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
  
    

    <script src="/assets/js/beautifuljekyll.js"></script>
  







  </body>
</html>
