<!DOCTYPE html>
<html lang="en">
  <!-- Beautiful Jekyll | Copyright Dean Attali 2020 -->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Theme Components | Discourse Themes</title>

  <meta name="description" content="All Discourse Themes and Theme Components here">

  

  

  <link rel="alternate" type="application/rss+xml" title="Discourse Themes - All Discourse Themes and Theme Components here" href="https://discoursethemes.dev/feed.xml">

  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177420155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-177420155-1');
</script>


  

  


  
    
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">


    
  

  
    
      <link rel="stylesheet" href="/assets/bootstrap-4.4.1/css/bootstrap.min.css">
    
      <link rel="stylesheet" href="/assets/css/bootstrap-social.css">
    
      <link rel="stylesheet" href="/assets/css/beautifuljekyll.css">
    
      <link rel="stylesheet" href="/assets/css/custom.css">
    
  

  

  
  
  

  

  
  <meta property="og:site_name" content="Discourse Themes">
  <meta property="og:title" content="Theme Components">
  <meta property="og:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta property="og:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  
  <meta property="og:type" content="website">
  

  
  <meta property="og:url" content="https://discoursethemes.dev/theme-components/">
  <link rel="canonical" href="https://discoursethemes.dev/theme-components/">
  


  
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">

  <meta property="twitter:title" content="Theme Components">
  <meta property="twitter:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta name="twitter:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  

  

  

</head>


  <body>

    


    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom "><a class="navbar-brand" href="https://discoursethemes.dev/">Discourse Themes</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/themes/">Themes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/theme-components/">Components</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/color-palettes/">Palettes</a>
          </li>
</ul>
  </div>

  

</nav>


    <!-- TODO this file has become a mess, refactor it -->







<header class="header-section ">

<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-lg-12 col-xl-10 offset-xl-1">
        <div class="page-heading text-center">
          <h1>Theme Components</h1>
      

      
        </div>
      </div>
    </div>
  </div>
</div>
</header>





<div class="container-md" role="main">



  <!-- Pagination is active -->
  
  

  <p>139 free Discourse theme components you may be interested in.</p>

  <div class="row gallery">
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/image-annotator-allows-you-to-annotate-images-in-the-previewer/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/161936/thumbnail.png" alt="Image Annotator - Allows you to annotate images in the previewer - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/161936/thumbnail.png" alt="Image Annotator - Allows you to annotate images in the previewer">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/image-annotator-allows-you-to-annotate-images-in-the-previewer/">Image Annotator - Allows you to annotate images in the previewer</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-units-convert-durations-lengths-and-masses/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/149360/thumbnail.png" alt="Discourse Units - Convert durations, lengths and masses - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/149360/thumbnail.png" alt="Discourse Units - Convert durations, lengths and masses">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-units-convert-durations-lengths-and-masses/">Discourse Units - Convert durations, lengths and masses</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-gifs-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/158738/thumbnail.png" alt="Discourse Gifs component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/158738/thumbnail.png" alt="Discourse Gifs component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-gifs-component/">Discourse Gifs component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/clickable-social-icon-links-on-profile/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/158136/thumbnail.jpeg" alt="Clickable Social Icon Links on Profile - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/158136/thumbnail.jpeg" alt="Clickable Social Icon Links on Profile">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/clickable-social-icon-links-on-profile/">Clickable Social Icon Links on Profile</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/deprecated-submit-from-preview-mobile/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/157881/thumbnail.gif" alt="[Deprecated] Submit from Preview (Mobile) - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/157881/thumbnail.gif" alt="[Deprecated] Submit from Preview (Mobile)">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/deprecated-submit-from-preview-mobile/">[Deprecated] Submit from Preview (Mobile)</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/inline-pdf-previews/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/157649/thumbnail.png" alt="Inline pdf previews - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/157649/thumbnail.png" alt="Inline pdf previews">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/inline-pdf-previews/">Inline pdf previews</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/user-portfolio-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/156678/thumbnail.jpeg" alt="User Portfolio Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/156678/thumbnail.jpeg" alt="User Portfolio Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/user-portfolio-theme-component/">User Portfolio Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/featured-tiles-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/156677/thumbnail.png" alt="Featured Tiles Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/156677/thumbnail.png" alt="Featured Tiles Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/featured-tiles-theme-component/">Featured Tiles Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/category-previews/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/155296/thumbnail.png" alt="Category Previews - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/155296/thumbnail.png" alt="Category Previews">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/category-previews/">Category Previews</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/d3-graphviz-theme-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">D3 Graphviz Theme Component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/d3-graphviz-theme-component/">D3 Graphviz Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/highlight-text-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/152733/thumbnail.png" alt="Highlight text Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/152733/thumbnail.png" alt="Highlight text Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/highlight-text-theme-component/">Highlight text Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/add-category-links-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/152735/thumbnail.png" alt="Add category links Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/152735/thumbnail.png" alt="Add category links Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/add-category-links-theme-component/">Add category links Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/raw-post-button/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/152542/thumbnail.png" alt="Raw post button - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/152542/thumbnail.png" alt="Raw post button">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/raw-post-button/">Raw post button</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/allow-arbitrary-homepage-by-jay-pfaffman/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Allow Arbitrary Homepage (by Jay Pfaffman)</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/allow-arbitrary-homepage-by-jay-pfaffman/">Allow Arbitrary Homepage (by Jay Pfaffman)</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/topic-list-excerpts-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/151520/thumbnail.png" alt="Topic List Excerpts Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/151520/thumbnail.png" alt="Topic List Excerpts Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/topic-list-excerpts-theme-component/">Topic List Excerpts Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/topic-list-thumbnails-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/150602/thumbnail.jpeg" alt="Topic List Thumbnails Theme Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/150602/thumbnail.jpeg" alt="Topic List Thumbnails Theme Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/topic-list-thumbnails-theme-component/">Topic List Thumbnails Theme Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/topic-template-placeholder-text-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/149053/thumbnail.png" alt="Topic Template Placeholder Text theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/149053/thumbnail.png" alt="Topic Template Placeholder Text theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/topic-template-placeholder-text-theme-component/">Topic Template Placeholder Text theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-category-headers-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/148682/thumbnail.png" alt="Discourse Category Headers theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/148682/thumbnail.png" alt="Discourse Category Headers theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-category-headers-theme-component/">Discourse Category Headers theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/category-highlighter/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/148318/thumbnail.png" alt="Category Highlighter - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/148318/thumbnail.png" alt="Category Highlighter">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/category-highlighter/">Category Highlighter</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/default-composer-category-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Default Composer Category component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/default-composer-category-component/">Default Composer Category component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/personal-message-bubbles/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/147994/thumbnail.png" alt="Personal Message Bubbles - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/147994/thumbnail.png" alt="Personal Message Bubbles">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/personal-message-bubbles/">Personal Message Bubbles</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
  </div>
  
    <!-- Pager -->
    <div class="text-center">
      <ul class="pagination">
      
      
          <li class="page-item disabled"><span class="page-link">Prev</span></li>
      

      
          <li class="page-item d-none d-md-block active">
<span class="page-link">1</span><span class="sr-only">(current)</span>
</li>
      

      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="page2/">2</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="page3/">3</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="page4/">4</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="page5/">5</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="page6/">6</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="page7/">7</a></li>
          
      

      
          <li class="page-item"><a class="page-link" href="page2/">Next</a></li>
      
      </ul>
    </div>



</div>

    <footer>
  <div class="container-md beautiful-jekyll-footer">
    <div class="row">
      <div class="col-md-4">
      <ul class="list-inline text-center footer-links">
<li class="list-inline-item">
    <a href="/feed.xml" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
<li class="list-inline-item">
    <a href="https://github.com/DiscourseForum/DiscourseThemes" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
</ul>

      
      <p class="copyright text-muted">
      
      2020

      
         • 
        <a href="https://discoursethemes.dev/">DiscourseThemes.dev</a>
      

      
      </p>
      <!-- Please don't remove this, keep my open source work credited :) -->
      <p class="theme-by text-muted">
        Theme by
        <a href="https://beautifuljekyll.com">beautiful-jekyll</a>
      </p>
      </div>
      <div class="col-md-8">
        <div class="disclaimer">
          <h3 class="text-muted">Notice of Non-Affiliation and Disclaimer</h3>
          <p class="theme-by text-muted text-left">We are not affiliated, associated, authorized, endorsed by,
            or in any way officially connected with the Discourse.org, and Civilized Discourse Construction Kit, Inc
            or any of its subsidiaries or its affiliates.</p>
          <p class="theme-by text-muted text-left">The names Discourse, Discourse.org, Discourse logo as well as related names, marks, emblems and images are registered trademarks of their respective owners.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


    
  



  
    

    <script src="/assets/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
  
    

    <script src="/assets/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
  
    

    <script src="/assets/js/beautifuljekyll.js"></script>
  







  </body>
</html>
