<!DOCTYPE html>
<html lang="en">
  <!-- Beautiful Jekyll | Copyright Dean Attali 2020 -->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Theme Components | Discourse Themes</title>

  <meta name="description" content="All Discourse Themes and Theme Components here">

  

  

  <link rel="alternate" type="application/rss+xml" title="Discourse Themes - All Discourse Themes and Theme Components here" href="https://discoursethemes.dev/feed.xml">

  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177420155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-177420155-1');
</script>


  

  


  
    
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">


    
  

  
    
      <link rel="stylesheet" href="/assets/bootstrap-4.4.1/css/bootstrap.min.css">
    
      <link rel="stylesheet" href="/assets/css/bootstrap-social.css">
    
      <link rel="stylesheet" href="/assets/css/beautifuljekyll.css">
    
      <link rel="stylesheet" href="/assets/css/custom.css">
    
  

  

  
  
  

  

  
  <meta property="og:site_name" content="Discourse Themes">
  <meta property="og:title" content="Theme Components">
  <meta property="og:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta property="og:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  
  <meta property="og:type" content="website">
  

  
  <meta property="og:url" content="https://discoursethemes.dev/theme-components/page4/">
  <link rel="canonical" href="https://discoursethemes.dev/theme-components/page4/">
  


  
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">

  <meta property="twitter:title" content="Theme Components">
  <meta property="twitter:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta name="twitter:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  

  

  

</head>


  <body>

    


    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom "><a class="navbar-brand" href="https://discoursethemes.dev/">Discourse Themes</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/themes/">Themes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/theme-components/">Components</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/color-palettes/">Palettes</a>
          </li>
</ul>
  </div>

  

</nav>


    <!-- TODO this file has become a mess, refactor it -->







<header class="header-section ">

<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-lg-12 col-xl-10 offset-xl-1">
        <div class="page-heading text-center">
          <h1>Theme Components</h1>
      

      
        </div>
      </div>
    </div>
  </div>
</div>
</header>





<div class="container-md" role="main">



  <!-- Pagination is active -->
  
  

  <p>139 free Discourse theme components you may be interested in.</p>

  <div class="row gallery">
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/post-badges-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/114722/thumbnail.png" alt="Post Badges component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/114722/thumbnail.png" alt="Post Badges component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/post-badges-component/">Post Badges component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/header-theme-toggle/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/113496/thumbnail.gif" alt="Header Theme Toggle - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/113496/thumbnail.gif" alt="Header Theme Toggle">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/header-theme-toggle/">Header Theme Toggle</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-placeholder-forms-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/113533/thumbnail.png" alt="Discourse Placeholder Forms theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/113533/thumbnail.png" alt="Discourse Placeholder Forms theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-placeholder-forms-theme-component/">Discourse Placeholder Forms theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/theme-switcher-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Theme Switcher Component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/theme-switcher-component/">Theme Switcher Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/unformatted-code-detector-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/112773/thumbnail.gif" alt="Unformatted Code Detector theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/112773/thumbnail.gif" alt="Unformatted Code Detector theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/unformatted-code-detector-theme-component/">Unformatted Code Detector theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/restrict-uploads/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/112688/thumbnail.png" alt="Restrict uploads - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/112688/thumbnail.png" alt="Restrict uploads">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/restrict-uploads/">Restrict uploads</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/scrollable-post-content/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/112479/thumbnail.png" alt="Scrollable post content - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/112479/thumbnail.png" alt="Scrollable post content">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/scrollable-post-content/">Scrollable post content</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/dark-mode-automatic-theme-switcher/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Dark Mode Automatic Theme Switcher</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/dark-mode-automatic-theme-switcher/">Dark Mode Automatic Theme Switcher</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-topic-status-filter/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/111307/thumbnail.png" alt="Discourse Topic Status Filter - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/111307/thumbnail.png" alt="Discourse Topic Status Filter">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-topic-status-filter/">Discourse Topic Status Filter</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discotoc-automatic-table-of-contents/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/111143/thumbnail.png" alt="DiscoTOC - automatic table of contents - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/111143/thumbnail.png" alt="DiscoTOC - automatic table of contents">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discotoc-automatic-table-of-contents/">DiscoTOC - automatic table of contents</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-topic-author/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/111021/thumbnail.png" alt="Discourse Topic Author - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/111021/thumbnail.png" alt="Discourse Topic Author">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-topic-author/">Discourse Topic Author</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-tag-sidebars/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/111114/thumbnail.jpeg" alt="Discourse Tag Sidebars - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/111114/thumbnail.jpeg" alt="Discourse Tag Sidebars">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-tag-sidebars/">Discourse Tag Sidebars</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/blog-post-styling/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/110841/thumbnail.jpeg" alt="Blog Post Styling - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/110841/thumbnail.jpeg" alt="Blog Post Styling">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/blog-post-styling/">Blog Post Styling</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/refresh-latest-footer/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Refresh Latest Footer</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/refresh-latest-footer/">Refresh Latest Footer</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/tag-icons-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/109757/thumbnail.png" alt="Tag icons component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/109757/thumbnail.png" alt="Tag icons component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/tag-icons-component/">Tag icons component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/versatile-banner/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/109133/thumbnail.jpeg" alt="Versatile Banner - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/109133/thumbnail.jpeg" alt="Versatile Banner">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/versatile-banner/">Versatile Banner</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/smooth-j-k-navigation-when-using-keyboard/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Smooth J/K navigation when using keyboard</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/smooth-j-k-navigation-when-using-keyboard/">Smooth J/K navigation when using keyboard</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/easy-google-search-bar/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/108460/thumbnail.png" alt="Easy Google Search Bar - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/108460/thumbnail.png" alt="Easy Google Search Bar">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/easy-google-search-bar/">Easy Google Search Bar</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-cookie-consent-banner/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/108380/thumbnail.png" alt="Discourse Cookie Consent Banner - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/108380/thumbnail.png" alt="Discourse Cookie Consent Banner">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-cookie-consent-banner/">Discourse Cookie Consent Banner</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/custom-source-code-formatting-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/108059/thumbnail.png" alt="Custom source code formatting component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/108059/thumbnail.png" alt="Custom source code formatting component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/custom-source-code-formatting-component/">Custom source code formatting component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-popular-tag-sidebar/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/107853/thumbnail.png" alt="Discourse Popular Tag Sidebar - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/107853/thumbnail.png" alt="Discourse Popular Tag Sidebar">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-popular-tag-sidebar/">Discourse Popular Tag Sidebar</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
  </div>
  
    <!-- Pager -->
    <div class="text-center">
      <ul class="pagination">
      
      

          
          <li class="page-item"><a class="page-link" href="./../page3/">Prev</a></li>
          

      

      
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../">1</a></li>
      

      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page2/">2</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page3/">3</a></li>
          
      

          
          <li class="page-item d-none d-md-block active">
<span class="page-link">4</span><span class="sr-only">(current)</span>
</li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page5/">5</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page6/">6</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page7/">7</a></li>
          
      

      
          <li class="page-item"><a class="page-link" href="./../page5/">Next</a></li>
      
      </ul>
    </div>



</div>

    <footer>
  <div class="container-md beautiful-jekyll-footer">
    <div class="row">
      <div class="col-md-4">
      <ul class="list-inline text-center footer-links">
<li class="list-inline-item">
    <a href="/feed.xml" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
<li class="list-inline-item">
    <a href="https://github.com/DiscourseForum/DiscourseThemes" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
</ul>

      
      <p class="copyright text-muted">
      
      2020

      
         • 
        <a href="https://discoursethemes.dev/">DiscourseThemes.dev</a>
      

      
      </p>
      <!-- Please don't remove this, keep my open source work credited :) -->
      <p class="theme-by text-muted">
        Theme by
        <a href="https://beautifuljekyll.com">beautiful-jekyll</a>
      </p>
      </div>
      <div class="col-md-8">
        <div class="disclaimer">
          <h3 class="text-muted">Notice of Non-Affiliation and Disclaimer</h3>
          <p class="theme-by text-muted text-left">We are not affiliated, associated, authorized, endorsed by,
            or in any way officially connected with the Discourse.org, and Civilized Discourse Construction Kit, Inc
            or any of its subsidiaries or its affiliates.</p>
          <p class="theme-by text-muted text-left">The names Discourse, Discourse.org, Discourse logo as well as related names, marks, emblems and images are registered trademarks of their respective owners.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


    
  



  
    

    <script src="/assets/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
  
    

    <script src="/assets/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
  
    

    <script src="/assets/js/beautifuljekyll.js"></script>
  







  </body>
</html>
