<!DOCTYPE html>
<html lang="en">
  <!-- Beautiful Jekyll | Copyright Dean Attali 2020 -->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Theme Components | Discourse Themes</title>

  <meta name="description" content="All Discourse Themes and Theme Components here">

  

  

  <link rel="alternate" type="application/rss+xml" title="Discourse Themes - All Discourse Themes and Theme Components here" href="https://discoursethemes.dev/feed.xml">

  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177420155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-177420155-1');
</script>


  

  


  
    
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">


    
      
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">


    
  

  
    
      <link rel="stylesheet" href="/assets/bootstrap-4.4.1/css/bootstrap.min.css">
    
      <link rel="stylesheet" href="/assets/css/bootstrap-social.css">
    
      <link rel="stylesheet" href="/assets/css/beautifuljekyll.css">
    
      <link rel="stylesheet" href="/assets/css/custom.css">
    
  

  

  
  
  

  

  
  <meta property="og:site_name" content="Discourse Themes">
  <meta property="og:title" content="Theme Components">
  <meta property="og:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta property="og:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  
  <meta property="og:type" content="website">
  

  
  <meta property="og:url" content="https://discoursethemes.dev/theme-components/page5/">
  <link rel="canonical" href="https://discoursethemes.dev/theme-components/page5/">
  


  
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">

  <meta property="twitter:title" content="Theme Components">
  <meta property="twitter:description" content="{% include header.html type=&quot;page&quot; %} {% if page.paginator %} {% if page.homepage %} {% assign pagetitle = page.title %} {% else %} {% assign paginator = page.paginator %} {% assign pagetitle = 'Discourse ' | append: page.title %} {% endif %} {% assign page.title = page.title | append: ' test...">

  
  <meta name="twitter:image" content="https://discoursethemes.dev/assets/img/avatar-icon.png">
  

  

  

  

</head>


  <body>

    


    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom "><a class="navbar-brand" href="https://discoursethemes.dev/">Discourse Themes</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/themes/">Themes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/theme-components/">Components</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/color-palettes/">Palettes</a>
          </li>
</ul>
  </div>

  

</nav>


    <!-- TODO this file has become a mess, refactor it -->







<header class="header-section ">

<div class="intro-header no-img">
  <div class="container-md">
    <div class="row">
      <div class="col-lg-12 col-xl-10 offset-xl-1">
        <div class="page-heading text-center">
          <h1>Theme Components</h1>
      

      
        </div>
      </div>
    </div>
  </div>
</div>
</header>





<div class="container-md" role="main">



  <!-- Pagination is active -->
  
  

  <p>139 free Discourse theme components you may be interested in.</p>

  <div class="row gallery">
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/intercom-widget/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/107517/thumbnail.png" alt="Intercom widget - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/107517/thumbnail.png" alt="Intercom widget">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/intercom-widget/">Intercom widget</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-category-sidebars/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/107561/thumbnail.png" alt="Discourse Category Sidebars - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/107561/thumbnail.png" alt="Discourse Category Sidebars">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-category-sidebars/">Discourse Category Sidebars</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/daemonite-material-theme-ample-layout-adjustments/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Daemonite Material Theme: Ample layout adjustments</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/daemonite-material-theme-ample-layout-adjustments/">Daemonite Material Theme: Ample layout adjustments</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/category-badge-adjustment-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Category badge adjustment component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/category-badge-adjustment-component/">Category badge adjustment component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/avatar-size-and-shape/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/106124/thumbnail.png" alt="Avatar size and shape - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/106124/thumbnail.png" alt="Avatar size and shape">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/avatar-size-and-shape/">Avatar size and shape</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/discourse-team-tweaks-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/105690/thumbnail.jpeg" alt="Discourse Team Tweaks theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/105690/thumbnail.jpeg" alt="Discourse Team Tweaks theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/discourse-team-tweaks-theme-component/">Discourse Team Tweaks theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/category-icons-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/104683/thumbnail.png" alt="Category icons component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/104683/thumbnail.png" alt="Category icons component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/category-icons-component/">Category icons component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/add-category-column/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/103893/thumbnail.png" alt="Add Category Column - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/103893/thumbnail.png" alt="Add Category Column">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/add-category-column/">Add Category Column</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/alternative-voting-category-style/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/101532/thumbnail.png" alt="Alternative Voting Category Style - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/101532/thumbnail.png" alt="Alternative Voting Category Style">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/alternative-voting-category-style/">Alternative Voting Category Style</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/plugin-outlet-locations-theme-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/100673/thumbnail.png" alt="Plugin outlet locations theme component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/100673/thumbnail.png" alt="Plugin outlet locations theme component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/plugin-outlet-locations-theme-component/">Plugin outlet locations theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/compliant-google-login-button/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/99276/thumbnail.png" alt="Compliant Google Login Button - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/99276/thumbnail.png" alt="Compliant Google Login Button">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/compliant-google-login-button/">Compliant Google Login Button</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/welcome-page-for-private-sites/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/98591/thumbnail.png" alt="Welcome page for private sites - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/98591/thumbnail.png" alt="Welcome page for private sites">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/welcome-page-for-private-sites/">Welcome page for private sites</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/easy-responsive-footer/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/95818/thumbnail.png" alt="Easy responsive footer - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/95818/thumbnail.png" alt="Easy responsive footer">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/easy-responsive-footer/">Easy responsive footer</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/force-mobile-homepage/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Force Mobile Homepage</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/force-mobile-homepage/">Force Mobile Homepage</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/header-submenus/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/94584/thumbnail.png" alt="Header submenus - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/94584/thumbnail.png" alt="Header submenus">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/header-submenus/">Header submenus</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/topic-list-sidebar-navigation/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/94056/thumbnail.png" alt="Topic list sidebar navigation - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/94056/thumbnail.png" alt="Topic list sidebar navigation">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/topic-list-sidebar-navigation/">Topic list sidebar navigation</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/slick-image-gallery/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/81952/thumbnail.jpg" alt="Slick Image Gallery - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/81952/thumbnail.jpg" alt="Slick Image Gallery">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/slick-image-gallery/">Slick Image Gallery</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/custom-header-links/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/90588/thumbnail.PNG" alt="Custom Header Links - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/90588/thumbnail.PNG" alt="Custom Header Links">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/custom-header-links/">Custom Header Links</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/emoji-mention-theme-component/">
            
            <i class="fas fa-comments fa-10x text-info"><span class="sr-only">Emoji mention theme component</span></i>
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/emoji-mention-theme-component/">Emoji mention theme component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/social-share-component/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/89980/thumbnail.png" alt="Social Share Component - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/89980/thumbnail.png" alt="Social Share Component">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/social-share-component/">Social Share Component</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type official"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
      
      
      

    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="item mb-3 card">
        
        <div class="item-image">
          <a class="item-image-link d-flex align-items-center justify-content-center" href="/theme-components/iframe-lightboxes/">
            
            <img class="item-background" src="https://discoursethemes.dev/images/89853/thumbnail.jpg" alt="Iframe Lightboxes - background">
            <img class="card-img-top" src="https://discoursethemes.dev/images/89853/thumbnail.jpg" alt="Iframe Lightboxes">
            
          </a>
        </div>

        <div class="card-footer">
          <h2 class="item-name"><a href="/theme-components/iframe-lightboxes/">Iframe Lightboxes</a></h2>
          <div class="row">
            <div class="col-6">
              <div class="item-type theme-components"></div>
            </div>
            <div class="col-6 text-right">
              
              <div class="item-type thirdparty"></div>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
  </div>
  
    <!-- Pager -->
    <div class="text-center">
      <ul class="pagination">
      
      

          
          <li class="page-item"><a class="page-link" href="./../page4/">Prev</a></li>
          

      

      
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../">1</a></li>
      

      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page2/">2</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page3/">3</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page4/">4</a></li>
          
      

          
          <li class="page-item d-none d-md-block active">
<span class="page-link">5</span><span class="sr-only">(current)</span>
</li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page6/">6</a></li>
          
      

          
          <li class="page-item d-none d-md-block"><a class="page-link" href="./../page7/">7</a></li>
          
      

      
          <li class="page-item"><a class="page-link" href="./../page6/">Next</a></li>
      
      </ul>
    </div>



</div>

    <footer>
  <div class="container-md beautiful-jekyll-footer">
    <div class="row">
      <div class="col-md-4">
      <ul class="list-inline text-center footer-links">
<li class="list-inline-item">
    <a href="/feed.xml" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
<li class="list-inline-item">
    <a href="https://github.com/DiscourseForum/DiscourseThemes" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
</ul>

      
      <p class="copyright text-muted">
      
      2020

      
         • 
        <a href="https://discoursethemes.dev/">DiscourseThemes.dev</a>
      

      
      </p>
      <!-- Please don't remove this, keep my open source work credited :) -->
      <p class="theme-by text-muted">
        Theme by
        <a href="https://beautifuljekyll.com">beautiful-jekyll</a>
      </p>
      </div>
      <div class="col-md-8">
        <div class="disclaimer">
          <h3 class="text-muted">Notice of Non-Affiliation and Disclaimer</h3>
          <p class="theme-by text-muted text-left">We are not affiliated, associated, authorized, endorsed by,
            or in any way officially connected with the Discourse.org, and Civilized Discourse Construction Kit, Inc
            or any of its subsidiaries or its affiliates.</p>
          <p class="theme-by text-muted text-left">The names Discourse, Discourse.org, Discourse logo as well as related names, marks, emblems and images are registered trademarks of their respective owners.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


    
  



  
    

    <script src="/assets/jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
  
    

    <script src="/assets/bootstrap-4.4.1/js/bootstrap.bundle.min.js"></script>
  
    

    <script src="/assets/js/beautifuljekyll.js"></script>
  







  </body>
</html>
