/* Overwride the defaults */
.pagination .page-item .page-link {
  padding: 0.9375rem 1.5625rem;
}
/* \ Overwride the defaults */


.ico-ext {
  margin-left: 0.15rem;
  font-size: initial;
}

.item-image {
  height: 300px;
  display: block;
}
.item-image .card-img-top {
  height: 100%;
  object-fit: contain;
  z-index: 2;
  position: relative;
  max-width: calc(100% - 2 * 5px);
}
.item-image-link {
  height: 100%;
}
.item-image-link:hover {
  text-decoration: none;
}
.item-background {
  height: calc(300px - 5px);
  object-fit: cover;
  filter: blur(5px);
  width: calc(100% - 2 * 5px);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}
.item-name {
  font-size: initial;
  font-weight: 600;
  line-height: initial;
  height: 44px;
  display: flex;
  align-items: center;
}

.item-type {
  display: inline-block;
}
.item-type:before {
  width: 10px;
  height: 10px;
  display: inline-block;
  visibility: visible;
  content: "";
  margin-right: 2px;
}
.item-type:after {
  font-size: 0.8rem;
}
.themes:before {
  background-color: #dc3545;
}
.themes:after {
  content: "theme";
}
.theme-components:before {
  background-color: #fd7e14;
}
.theme-components:after {
  content: "component";
}
.color-palettes:before {
  background-color: #6610f2;
}
.color-palettes:after {
  content: "color-palette";
}
.official:before {
  background-color: #28a745;
}
.official:after {
  content: "official";
}
.thirdparty:before {
  background-color: #17a2b8;
}
.thirdparty:after {
  content: "3rd-party";
}

.item-detail .item-image {
  height: 100%;
  max-height: 250px;
}

.theme-buttons {
  display: block;
  margin: 1rem 0 0;
}
.theme-buttons .btn-group {
  margin-bottom: 1rem;
}

.blog-post > p {
  margin-top: 0;
}



.pagination {
  margin: 0.625rem auto 0;
  justify-content: center;
}


@media (min-width: 768px) {
  .intro-header .page-heading h1 {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .disclaimer {
    margin-top: 1rem;
  }
}
